<div class="location-container">
    <div class="card">
        <div class="card-body">
            <h3>Choose a city</h3>
            <div class="form-group mr-3 date">
                <select class="custom-select" id="start_date">
                    <option selected value="Future">San Francisco</option>
                    <option value="Past">San Mateo</option>
                    <option  value="Today">San Jose</option>
                    <option value="Last Week">Rohnert Park</option>
                </select>
            </div>
        </div>
    </div>
</div>