<label> Select a username </label>
<input id = "newUserID">
<label> Select your Password </label>
<input id = "newUserPassword" type = "password">
<label> Re-enter Password </label>
<input id = "reenterPassword" type = "password">
<button id = "register"> Register </button>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/register.js"></script>