{{!-- <form>
          <input type = "text" placeholder="email" id = "email">
          <input type="password" placeholder="password" id = "password">
          <button id = "signin">Submit</button>
        </form> --}}

<label> User Name </label>
<input id = "username">
<label> Password </label>
<input id = "password" type = "password">
<button id = "signin"> Signin</button>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/signin.js"></script>