.list-group-item {
  line-height: 2.5;
}
.card{
  margin: 15px;
}
.button{
  display: inline-block;
  padding: 3px 5px;
  /* border: 1px solid #000;
  background: #eee; */
  color: rgba(0,0,0,.5);
}

.page-signin {
  background: #f8f8f8;
}

.page-signin card {
  margin-top: 25%;
}