.list-group-item {
  line-height: 2.5;
  border-radius: 8px;
  margin-top: 10px;
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
}
.card{
  margin-top : 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button{
  display: inline-block;
  padding: 3px 5px;
  color: rgba(0,0,0,.5);
}

.page-card {
  background: #f8f8f8;
  background-image: url("assets/kid.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
}

.page-card card {
  margin-top: 25%;
}

.logo{
  width: 500;
  height: 500px;
}

.btn{
  margin: 5px;
}

.like{
  background-color: gray;
  margin: 5px 5px 0px 0px;
  height: 36px;
  color: white;
}

body{
  /* background-color: rgb(192, 190, 190); */
  background-image: url("assets/whitebackground.jpeg");
}


.newDescription{
  display: block;
}

.signout, .homepage, .signin, .register{
  border: none;
  background-color:rgb(97, 96, 96);
  color: white;
  width: 100px;
  height: 40px;
  margin: 5px;
  text-align: center;
}

.navbar-brand{
  font-size: 1.5rem;
}

.navbar{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron{
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 30px;
  background: rgba(246, 250, 246, 0);
}

#login, #register{
  background-color: rgb(32, 65, 173);
  width: 95%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#comments{
  margin: 20px
}

.nav-link{
  background-color: #343A40;
}