.list-group-item {
  line-height: 2.5;
  border: 5px solid rgb(192, 190, 190);
}
.card{
  margin-top : 40px;

}
.button{
  display: inline-block;
  padding: 3px 5px;
  color: rgba(0,0,0,.5);
}

.page-card {
  background: #f8f8f8;
}

.page-card card {
  margin-top: 25%;
}

.logo{
  width: 500;
  height: 500px;
}

.btn{
  margin: 5px;
}

.like{
  background-color: gray;
  margin: 5px 5px 0px 0px;
  height: 36px;
  color: white;
}

body{
  background-color: rgb(192, 190, 190);
}

.newDescription{
  display: block;
}

.signout, .homepage, .signin, .register{
  border-color: gray;
  background-color:rgb(97, 96, 96);
  color: white;
  width: 100px;
  height: 40px;
  margin: 5px;
  text-align: center;
}

.navbar-brand{
  font-size: 1.5rem;
}
.jumbotron{
  margin-top: 10px;
  width: 100%;
  height: 50px;
  padding-top:30px;
}

#login{
  background-color: green;
  width: 305px;

}

#comments{
  margin: 20px
}